<input type="file" (change)="onFileSelected($event)" accept=".json" style="margin-bottom: 10px;">

<div class="categorias" appAlinharBotoes>
  <button class="botao-laranja" [disabled]="!jsonData">Categorias</button>
  <button class="botao-azul" (click)="emitirCategoria('Avioes')" [disabled]="!jsonData">Aviões</button>
  <button class="botao-azul" (click)="emitirCategoria('Carros')" [disabled]="!jsonData">Carros</button>
  <button class="botao-azul" (click)="emitirCategoria('Barcos')" [disabled]="!jsonData">Barcos</button>
</div>
