/* app.component.css */

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  /* Adicione espaçamento uniforme entre os componentes */
  app-classes,nav {
    display: flex;
    justify-content: space-between;

    background-color: #fafafa;
    height: 70px;
    margin-bottom: 5px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 33%;

        color: #a48dc6;
        text-decoration: inherit;

        &:hover {
            border-bottom: 3px solid #a48dc6;
        }
    }
}
  app-objetos,
  app-propriedades {
    margin: 0 10px; /* Ajuste a margem conforme necessário */
  }

  .rodape-botoes {
    margin-top: -450px;
  }