.pets-container {
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 10px;

    .table-container {
        overflow-y: auto;
        min-height: 100%;
        height: 65vh;
        min-width: 100%;
        border-radius: 10px;

        box-shadow: 0px 0px 4px 0px #559c87d5;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;
    }

    thead {
        background-color: #ebe9e9ce;
    }

    tr {
        border-bottom: 1px solid #e6e8ec;
    }

    th {
        position: sticky;
        top: 0;
        z-index: 5;
    }

    th,
    td {
        padding: 1rem;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
    }

    tbody {
        border: 1px solid #7b7b7b;
        border: none;
        border-radius: 10px;
    }

    tbody tr:nth-child(odd) {
        background-color: #3b77f8;
        color: #fff;
        border-radius: 10px;
    }
    
    .edit,
    .remove,
    .details {
        cursor: pointer;
    }
}