<!-- HTML -->
<div class="content-container">
    <img src="../assets/images/principal.png" alt="Imagem do cachorro" class="dog-image" />
    <div class="text-content">
        <h1>Bem-vindo ao petshop REINO ANIMAL!</h1>
        <p>Descubra tudo o que você precisa para o seu melhor amigo! Temos uma ampla variedade de produtos e serviços para cães, gatos e outros animais de estimação. De rações e brinquedos a serviços de banho e tosa, nosso objetivo é oferecer o melhor para o seu pet.</p>
        <button routerLink="/atendimentos" routerLinkActive="active">Verifique seu atendimento</button>
        <button routerLink="/cadastro" routerLinkActive="active">Agende um Serviço</button>
    </div>
</div>
