/* print-styles.css */

/* Estilos específicos para impressão */
@media print {
    body {
      font-size: 12pt;
      color: #333;
    }
  
    .result-item {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      padding: 10px;
    }
  }
  