<!-- app.component.html -->
<div class="container" appAlinharBotoes>
  <app-classes
    (selecionarCategoria)="onCategoriaSelecionada($event)"
    (selecionarVeiculos)="onVeiculosSelecionados($event)"
  ></app-classes>

  <app-objetos
    [categoriaSelecionada]="categoriaSelecionada"
    [veiculos]="veiculos"
    (selecionarVeiculo)="onVeiculoSelecionado($event)"
    (nomesVeiculosSelecionados)="onNomesVeiculosSelecionados($event)"
  ></app-objetos>

  <app-propriedades
    [veiculos]="veiculos"
    [veiculoSelecionado]="veiculoSelecionado"
    (selecionarTitulo)="onTituloSelecionado($event)"
  ></app-propriedades>

  <app-valor-propriedade *ngIf="tituloSelecionado" [veiculoSelecionado]="veiculoSelecionado" [tituloSelecionado]="tituloSelecionado"></app-valor-propriedade>

  <app-adicionar-objeto *ngIf="mostrarAdicionarObjeto" [veiculoSelecionado]="veiculoSelecionado"></app-adicionar-objeto>
  
</div>
