<!-- noticias.component.html -->
<div class="uesc-box uesc-A3">
    <div class="uesc-bar">Notícias</div>
    <div class="uesc-content" id="noticias-container">
      <ng-container *ngIf="noticias.length > 0; else noNoticias">
        <div *ngFor="let noticia of noticias" class="uesc-content-item">
          <h6>{{ noticia.title || '' }}</h6>
          <p>{{ noticia.description || '' }}</p>
          <a [href]="noticia.url || '#'">Leia mais</a>
        </div>
      </ng-container>
  
      <ng-template #noNoticias>
        <p>Nenhuma notícia disponível no momento.</p>
      </ng-template>
      <button class="uesc-button-more" onclick="window.location.href='link_para_mais_noticias.html'">Mais notícias</button>
    </div>
  </div>
  