/* estiloaaaa.css */

/* Modifica todas as cores dos títulos */
#amarelo{
    color: #ffcc29; /* Amarelo */
}

#vermelho {
    color: #ff0000; /* Vermelho */
}

#azul {
    color: #0000ff; /* Azul */
}

#marron {
    color: #8b4513; /* Marrom */
}

#violeta {
    color: #8a2be2; /* Violeta */
}

/* Modifica todas as fontes para font-weight: normal; */
h1,
h3 {
    font-weight: normal;
}

/* Modifica todos os tamanhos das imagens para 200 por 200 px */
img {
    width: 200px;
    height: 200px;
}
