* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.uesc-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 5px;
    margin: 5px 10px;
}

.uesc-box {
    background-color: #ffffff;
    border-radius: 8px;
    height: 230px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.uesc-bar {
    background-color: #70ccd8;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
}

.uesc-content {
    padding: 3px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.uesc-content img {
    width: 100%;
    height: 80px;
    border-radius: 4px;
    margin-bottom: 10px;
    align-items: center;
}

.uesc-content h6 {
    margin-bottom: 5px;
    color: #333333;
    font-size: 70%;
    font-family: 'Verdana', sans-serif;
}

.uesc-content a {
    color: #007bff;
    display: block;
    margin-bottom: 10px;
    font-size: 70%;
    font-family: 'Verdana', sans-serif;
}

.uesc-button-more {
    background-color: #acaeb1;
    color: #ffffff;
    border: none;
    padding: 5px 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Helvetica', sans-serif;
}

.uesc-A6 {
    width: 201%;
}

.uesc-A1,
.uesc-A7 {
    background-color: #70ccd8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #ffffff;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

@media screen and (max-width: 500px) {
    .uesc-container {
        grid-template-columns: 1fr;
    }

    .uesc-box {
        margin-bottom: 5px;
    }

    .uesc-A6 {
        width: 100%;
    }
}
