/* Reset de margin e padding para garantir consistência */
body, div {
    margin: 20px;
    padding: 0;
}

/* Estilo do quadrado */
.quadrado {
    width: 100px;
    height: 100px;
    background-color: #151396; /* Azul */
}

/* Estilo do quadrado */
.quadrado2 {
    width: 100px;
    height: 100px;
    background-color: red; /* Vermelho */
}

/* Estilo do quadrado */
.quadrado-interno {
    width: 30px;
    height: 30px;
    background-color: yellow; /* Amarelo */
    margin-left: 10px;
    margin-top: 10px;
}

/* Estilo do círculo */
.circulo {
    width: 100px;
    height: 100px;
    background-color: #5b3ce7; /* Roxo */
    border-radius: 50px; /* Faz com que o elemento seja um círculo */
}

/* Estilo do retângulo */
.retangulo {
    width: 150px;
    height: 20px;
    background-color: #27ae60; /* Verde */;
}
