/* Reset de margin e padding para garantir consistência */
body, h1, h2, h3, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    padding: 20px;
}

/* Cor dos textos nas seções */
h3 {
    color: #e74c3c; /* Vermelho */
    margin-left: 20px;
}

/* Cores dos textos nas listas e cor dos marcadores */
#lista-roupas {
    color: #27ae60; /* Verde */
}

#lista-alimentos {
    color: #f39c12; /* Laranja */
}

#lista-moveis {
    color: #8e44ad; /* Roxo */
}

/* Cor dos textos dentro das listas */
#lista-roupas li,
#lista-alimentos li,
#lista-moveis li {
    margin-bottom: 8px;
    margin-left: 10px;
}

#outros {
    margin-left: 10px;
}
