/* carrinho.component.css */
.carrinho-container {
    display: flex;
    flex-direction: column;
    min-height: 92vh;
  }
  
  /* Adicione estilos adicionais conforme necessário para o conteúdo do carrinho */
  
  .rodape-botoes {
    margin-top: auto;
    display: flex;
    justify-content: space-between; /* Distribui os botões igualmente na largura */
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .rodape-botoes button {
    flex: 1; /* Cada botão ocupa um terço da largura disponível */
    margin: 0 5px; /* Espaçamento opcional entre os botões */
    background-color: gray;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    width: 150px; /* Adicionando largura fixa */
  }
  